<% if (!user) { %>
	<h2>Welcome! Please <a href="/login">log in.</a></h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<a href="/bellcurver">bellcurver</a>
	<br />
	<br />
	<a href="/account">account</a>
<% } %>
